.button {
  border: none;
  background-color: var(--color-button);
  color: #fff;
  width: 100px;
  border-radius: 10px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.1s ease;
  position: relative;
  top: 0;
}

.button:hover {
  background-color: var(--color-button-hover);
  top: -3px;
}
