.search-bar {
  padding: 12px 20px;
  background-color: var(--color-button);
  display: grid;
  grid-template-columns: 1fr 24px;
  border-radius: 10px;
  font-size: 16px;
}

.search-bar__input {
  background-color: transparent;
  border: none;
  color: #fff;
}

.search-bar__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search-bar__input:focus {
  outline: none;
}

.search-bar__icon {
  width: 20px;
  filter: invert(1);
}
